// IMPORTS
@import '../../variables';

/*
  SPECIFIC LAYOUT FOR CHAT COMPONENT
 */

/********************
    TOGGLE BUTTON
 ********************/
.chat-toggle {
  cursor: pointer;
  color: #42494a;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ecf0f1 linear-gradient(to bottom, #ecf0f1 5%, #bdc3c7 100%);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/********************
    CHAT POPUP
 ********************/
.chat {
  cursor: default;
  color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  position: absolute;
  right: 90px;
  bottom: 45px;
  height: 300px;
  width: 80%;
  max-width: 500px;
  background-color: #ecf0f1;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 99;

  .chat-header {
    width: 100%;
    height: 40px;
    background: #ecf0f1 linear-gradient(to bottom, #ecf0f1 5%, #bdc3c7 100%);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: #ecf0f1;
    }

    span.visible {
      cursor: default;
      background: #34495e linear-gradient(to bottom, #34495e 5%, #2c3e50 100%);
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .chat-content {
    list-style: none;
    width: 100%;
    height: 178px;
    display: block;
    margin: 2px 0 0 0;
    padding: 10px 0 0 0;
    overflow-y: scroll;

    .chat-item {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;

      &.right {
        justify-content: flex-end;
      }

      .profile-picture {
        background-image: url("../../assets/images/character.png");
        background-size: cover;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        overflow: hidden;
      }

      &.left .profile-picture {
        margin-right: 15px;
      }

      &.right .profile-picture {
        margin-left: 15px;
      }

      .bubble {
        display: flex;
        flex-direction: column;
        background: #bdc3c7;
        padding: 15px 18px;
        border-radius: 20px;
      }

      &.right .bubble {
        background: #2c3e50;
      }

      &.left .profile-name, &.left .chat-message {
        color: rgba(0, 0, 0, 0.9);
      }

      &.right .profile-name, &.right .chat-message {
        color: rgba(236, 240, 241, 1);
      }

      .chat-message {
        font-size: 14px;
        max-width: 250px;
        overflow-wrap: break-word;
      }
    }
  }

  .chat-control {
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      outline-style: none;
      width: 100%;
      border-radius: 40px;
      padding-left: 20px;
      padding-right: 50px;
      margin-left: 10px;
      margin-right: 10px;
    }

    label {
      position: absolute;
      right: 85px;
      bottom: 15px;
      font-size: 11px;
      font-style: italic;
      opacity: 0.5;
    }

    .chat-send {
      font-size: 20px;
      color: #fafafa;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 50px;
      border-radius: 40px;
      background: $green-light linear-gradient(to bottom, $green-light 5%, $green 100%);
      border: none;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

.chat.visible {
  visibility: visible;
}

/********************
     RESPONSIVE
 ********************/
@media only screen and (min-width: 850px) {
  .chat {
    height: 700px;

    .chat-content {
      height: 578px;
    }
  }
}
