<!-- TOGGLE BUTTON -->
<span (click)="toggleDisplay()" class="chat-toggle"><i class="fa fa-comments"></i></span>
<!-- END TOGGLE BUTTON -->

<!-- CHAT POPUP -->
<div class="chat" [ngClass]="display">
  <!-- CHAT HEADER -->
  <div class="chat-header">
    <span *ngIf="tab == 'global'" class="visible">Global</span>
    <span *ngIf="tab != 'global'" (click)="switchTab('global')">Global</span>
    <span *ngIf="tab == 'session'" class="visible">Session</span>
    <span *ngIf="tab != 'session' && sessionId != null" (click)="switchTab('session')">Session</span>
  </div>
  <!-- CHAT HEADER -->
  <!-- CHAT CONTENT: GLOBAL -->
  <ul *ngIf="tab == 'global'" class="chat-content">
    <div *ngFor="let item of globalChat">
      <!-- CHAT ITEM -->
      <li *ngIf="item.username != authService.currentUser" class="chat-item left">
        <div class="profile-picture"></div>
        <div class="bubble">
          <span class="profile-name">{{item.username}}:</span>
          <span class="chat-message">{{item.message}}</span>
        </div>
      </li>
      <li *ngIf="item.username == authService.currentUser" class="chat-item right">
        <div class="bubble">
          <span class="profile-name">{{item.username}}:</span>
          <span class="chat-message">{{item.message}}</span>
        </div>
        <div class="profile-picture"></div>
      </li>
      <!-- END CHAT ITEM -->
    </div>
  </ul>
  <!-- END CHAT CONTENT: GLOBAL -->
  <!-- CHAT CONTENT: SESSION -->
  <ul *ngIf="tab == 'session'" class="chat-content">
    <div *ngFor="let item of sessionChat">
      <!-- CHAT ITEM -->
      <li *ngIf="item.username != authService.currentUser" class="chat-item left">
        <div class="profile-picture"></div>
        <div class="bubble">
          <span class="profile-name">{{item.username}}:</span>
          <span class="chat-message">{{item.message}}</span>
        </div>
      </li>
      <li *ngIf="item.username == authService.currentUser" class="chat-item right">
        <div class="bubble">
          <span class="profile-name">{{item.username}}:</span>
          <span class="chat-message">{{item.message}}</span>
        </div>
        <div class="profile-picture"></div>
      </li>
      <!-- END CHAT ITEM -->
    </div>
  </ul>
  <!-- END CHAT CONTENT: SESSION -->
  <form class="chat-control" (ngSubmit)="sendMessage()">
    <label>{{characters}}</label>
    <input [(ngModel)]="message" name="message" value="{{message}}" (ngModelChange)="messageChanged()" type="text" placeholder="type a message"
           autocomplete="off" maxlength="250" required>
    <button type="submit" class="fa fa-paper-plane chat-send"></button>
  </form>
</div>
<!-- END CHAT POPUP -->
