<!-- FAB -->
<div class="fab">

  <!-- TOGGLE BUTTON -->
  <button [ngClass]="toggle" (click)="toggleFab()" class="fab-root"><i class="fa fa-ellipsis-v"></i></button>
  <!-- END TOGGLE BUTTON -->

  <!-- OPTIONS -->
  <ul class="fab-options" [ngClass]="toggle">
    <li *ngIf="!muted" (click)="toggleMute()" class="green"><i class="fa fa-volume-up"></i><span>volume on</span></li>
    <li *ngIf="muted" (click)="toggleMute()"><i class="fa fa-volume-off"></i><span>volume off</span></li>
    <li *ngIf="authService.isLoggedIn()==true" (click)="logout()" class="red"><i class="icon fa fa-sign-out"></i><span>sign out</span></li>
  </ul>
  <!-- END OPTIONS -->

</div>
<!-- END FAB -->

<!-- AUDIO -->
<audio autoplay loop [muted]="muted">
  <source src="assets/music/home.mp3" type="audio/mpeg">
</audio>
<!-- END AUDIO -->
