.fab {
  width: 50px;
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab button {
  background: #bd3e2f linear-gradient(to bottom, #bd3e2f 5%, #96271b 100%);
  color: #fafafa;
  border: 0;
  outline: none;
  margin-top: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.4);
}

.fab-root {
  width: 50px;
  height: 50px;
  font-size: 18px;
}

.fab-root i {
  height: 100%;
  width: 100%;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fab-root.inactive i {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fab-buttons {
  opacity: 100%;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.fab-buttons.inactive {
  opacity: 0;
}

.fab-buttons button {
  width: 40px;
  height: 40px;
}

.fab-buttons button.empty {
  color: #2e3131;
  background: #5c5c5c linear-gradient(to bottom, #5c5c5c 5%, #4a494a 100%);
}

.fab-buttons button.green {
  background: #0fa84f linear-gradient(to bottom, #0fa84f 5%, #087534 100%);
}

/*# sourceMappingURL=fab.component.css.map */
