// IMPORTS
@import "../../variables";

/*
  SPECIFIC LAYOUT FOR FAB COMPONENT
 */

/********************
FLOATING ACTION BUTTON
 ********************/
.fab {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .fab-root {
    font-size: 18px;
    outline: none;
    display: flex;
    justify-content: center;
    background: transparent;
    border: 0;

    i {
      height: 100%;
      width: 100%;
      -moz-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      cursor: pointer;
      color: $white-light;
    }
  }

  .fab-options {
    border-radius: 6px;
    width: 175px;
    margin: 10px;
    padding: 7px;
    background-color: $white-light;
    list-style: none;
    color: #7f8c8d;
    opacity: 100%;
    -moz-transition: all 0.10s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);

    &.inactive {
      opacity: 0;
    }

    li {
      cursor: pointer;
      padding: 0 20px 0 7px;
      border-bottom: 1px solid $white;
      line-height: 30px;

      i {
        margin-right: 20px;
        width: 20px;

        &:hover {
          color: black;
        }
      }

      &.red {
        color: $red;
      }

      &.green {
        color: $green;
      }
    }
  }
}
