// IMPORTS
@import './variables';

.icon-green {
  color: $green;
}

.icon-red {
  color: $red;
}

.icon-orange {
  color: $orange;
}

.icon-white {
  color: $white;
}

.clickable {
  cursor: pointer !important;
}

* {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/montserrat.woff") format("woff");
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding-bottom: 20px;
  position: relative;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  font: 1em/1.3em Montserrat, Helvetica, sans-serif;
  -ms-overflow-style: none;
  overflow-y: scroll; /* Add the ability to scroll */
}

app-root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

::-webkit-scrollbar {
  display: none;
}

/*#endregion*/
#background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  min-width: 300px;
  color: white;
  text-align: center;
}

.flex-item.between {
  justify-content: space-between;
}

/*#region title*/
/*endregion*/

/*#region buttons*/
.buttons {
}

.buttons div {
  font-size: 2vw;
  color: whitesmoke;
  font-weight: bold;
  display: inline-block;
}

.buttons div i {
  width: 20%;
  text-align: center;
}

.buttons div:hover {
  color: rgb(205, 20, 30);
  cursor: pointer
}

.active {
  background-color: whitesmoke;
  color: rgb(205, 20, 30) !important;
}

/*#endregion*/

/*#endregion*/

/*#region content*/
.content {
  background-image: url("assets/images/blue-background-023.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*#endregion*/

/*#region topmenu*/
.topmenu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
}

.topmenu span {
  font-weight: bold;
  margin-left: 20px;
}

.topmenu span:hover {
  cursor: pointer;
}

/*#endregion*/

#logo {
  background-repeat: no-repeat;
  background-size: cover;
}

#logo img {
  width: 350px;
}

.logo {
  position: relative;
  margin-bottom: 50px;
  margin-top: 120px;
}

@media only screen and (max-width: 850px) {
  #logo img {
    width: 140px;
  }

  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/*#region forms*/
.form-container {
  padding-left: 15%;
  padding-right: 15%;
}

.formContainer h3 {
  font-size: 2vw;
  color: rgb(205, 20, 30);
}

.formButton {
  //margin-top: 30px;

  width: 100%;
  background: #ea514b linear-gradient(to bottom, #ea514b 5%, #bd261e 100%);
  color: whitesmoke;
  padding: 10px;
  border: 1px solid rgb(205, 20, 30);
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 0 #631107;
  box-shadow: 0 3px 0 0 #631107;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
}

.formButton:hover {
  cursor: pointer;
  color: #2e3131;
}

.formButton.disabled {
  color: #2e3131;
  cursor: not-allowed;
}

form {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  input, select, textarea {
    margin-top: 5px;
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
  }

  //.btn span {
  //  width: 280px !important;
  //  padding: 0 !important;
  //}
}

.error {
  color: red;
}

/*#endregion*/

/**************
    BUTTONS
 **************/

.btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 53px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  line-height: 30px;
  font-size: 16px;
  text-shadow: 0px 1px 1px #888;
  margin: 10px;

  &:not([empty]):hover {
    cursor: pointer;
    color: #2e3131;
  }
}

.btn span.icon, .btn span.title {
  display: block;
  position: relative;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.btn span.left {
  float: left;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

.btn span.right {
  float: right;
  border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
}

.btn span.title {
  display: flex;
  justify-content: center;
  width: 180px;
  background: $red-light linear-gradient(to bottom, $red-light 5%, $red 100%);
  -webkit-box-shadow: 0 3px 0 0 $red-shadow;
  box-shadow: 0 3px 0 0 $red-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn span.icon {
  font-size: 23px;
  width: 20px;
  text-align: center;
  background: $red linear-gradient(to bottom, $red 5%, $red-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $red-shadow;
  box-shadow: 0 3px 0 0 $red-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.orange > span.title {
  background: $orange-light linear-gradient(to bottom, $orange-light 5%, $orange 100%);
  -webkit-box-shadow: 0 3px 0 0 $orange-shadow;
  box-shadow: 0 3px 0 0 $orange-shadow;
  text-shadow: 0 1px 1px $text-shadow;
}

.btn.orange > span.icon {
  background: $orange linear-gradient(to bottom, $orange 5%, $orange-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $orange-shadow;
  box-shadow: 0 3px 0 0 $orange-shadow;
  text-shadow: 0 1px 1px $text-shadow;
}

.btn.green > span.title {
  background: $green-light linear-gradient(to bottom, $green-light 5%, $green 100%);
  -webkit-box-shadow: 0 3px 0 0 $green-shadow;
  box-shadow: 0 3px 0 0 $green-shadow;
  text-shadow: 0 1px 1px $text-shadow;
}

.btn.green > span.icon {
  background: $green linear-gradient(to bottom, $green 5%, $green-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $green-shadow;
  box-shadow: 0 3px 0 0 $green-shadow;
  text-shadow: 0 1px 1px $text-shadow;
}

.btn.blue > span.title {
  background: $blue-light linear-gradient(to bottom, $blue-light 5%, $blue 100%);
  -webkit-box-shadow: 0 3px 0 0 $blue-shadow;
  box-shadow: 0 3px 0 0 $blue-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.blue > span.icon {
  background: $blue linear-gradient(to bottom, $blue 5%, $blue-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $blue-shadow;
  box-shadow: 0 3px 0 0 $blue-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.purple > span.title {
  background: $purple-light linear-gradient(to bottom, $purple-light 5%, $purple 100%);
  -webkit-box-shadow: 0 3px 0 0 $purple-shadow;
  box-shadow: 0 3px 0 0 $purple-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.purple > span.icon {
  background: $purple linear-gradient(to bottom, $purple 5%, $purple-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $purple-shadow;
  box-shadow: 0 3px 0 0 $purple-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.yellow > span.title {
  background: $yellow-light linear-gradient(to bottom, $yellow-light 5%, $yellow 100%);
  -webkit-box-shadow: 0 3px 0 0 $yellow-shadow;
  box-shadow: 0 3px 0 0 $yellow-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.yellow > span.icon {
  background: $yellow linear-gradient(to bottom, $yellow 5%, $yellow-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $yellow-shadow;
  box-shadow: 0 3px 0 0 $yellow-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.white {
  color: #2f3640;

  &:hover {
    color: #ecf0f1;
  }
}

.btn.white > span.title {
  background: $white-light linear-gradient(to bottom, $white-light 5%, $white 100%);
  -webkit-box-shadow: 0 3px 0 0 $white-shadow;
  box-shadow: 0 3px 0 0 $white-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn.white > span.icon {
  background: $white linear-gradient(to bottom, $white 5%, $white-dark 100%);
  -webkit-box-shadow: 0 3px 0 0 $white-shadow;
  box-shadow: 0 3px 0 0 $white-shadow;
  text-shadow: 0px 1px 1px $text-shadow;
}

.btn[empty] {
  color: #2e3131;
  cursor: default;
}

.btn[empty] > span.icon {
  font-size: 23px;
  background: #5c5c5c linear-gradient(to bottom, #5c5c5c 5%, #4a494a 100%);
  -webkit-box-shadow: 0 3px 0 0 #2e3131;
  box-shadow: 0 3px 0 0 #2e3131;
  text-shadow: 0px 1px 1px #888;
}

.btn[empty] > span.title {
  background: #6b676b linear-gradient(to bottom, #6b676b 5%, #5c5c5c 100%);
  -webkit-box-shadow: 0 3px 0 0 #2e3131;
  box-shadow: 0 3px 0 0 #2e3131;
  text-shadow: 0px 1px 1px #888;
}

.btn span.arrow-left, .btn span.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: all .15s;
  -transition: all .15s;
  max-height: 100vh;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.btn.left span.arrow-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
  box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
  border-right: 10px solid #00cdae;
}

.btn.right span.arrow-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
  box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
  border-right: 10px solid #00967f;
}

.btn.left span.arrow-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #4c0f10;
  box-shadow: -10px 20px 0 0 #96271b;
  border-left: 10px solid #96271b;
}

.btn.right span.arrow-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
  box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
  border-left: 10px solid #00cdae;
}

.popup {
  //position: relative;
  display: inline-block;
  cursor: pointer;
  //width: 100%;
}

@media only screen and (max-width: 850px) {
  .btn {
    height: 45px;
    margin: 7px;
  }

  .btn span.icon {
    font-size: 20px;
  }

  .btn span.icon, .btn span.title {
    padding: 0 17px;
    line-height: 47px;
  }

}

.popup .popuptext {
  visibility: hidden;
  width: 400%;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  //bottom: 125%;
  left: -150%;
  //margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

// NOTIFIER: CORE STYLES

// Container

.notifier {

  &__container {

    * {
      box-sizing: border-box;
    }

    &-list {
      margin: {
        top: 0;
        bottom: 0;
      }
      padding: {
        left: 0;
      }
      list-style-type: none;
    }

  }

  &__notification {
    display: block;
    position: fixed; // Overlay
    visibility: hidden; // Notifications are hidden by default, and get shown (or animated in) dynamically by the Angular component
    z-index: 10000; // Pretty much random ...

    // This attribute forces this element to be rendered on a new layer, by the GPU, in order to improve its performance (#perfmatters)
    will-change: transform;

    // This attribute improves the overall scrolling performance for fixed position elements, such as this one (#perfmatters)
    // See <https://benfrain.com/improving-css-performance-fixedF-position-elements/>
    backface-visibility: hidden;

  }

}

// NOTIFIER: MATERIAL THEME
//
// This material theme tries its best to look as material-design'ish as possible - round edges, shadows, and small animations.
// And, of course, thanks to #Google for creating and sharing such an awesome design language!
// I highly encourage everyone to read into the Material Design specs: <https://material.google.com/>

$notifier-shadow-color: rgba(0, 0, 0, .2) !default;

.notifier__notification--material {
  border-radius: 7px;
  box-shadow: 0 1px 3px $notifier-shadow-color;
  cursor: default; // Default cursor, even when hovering over text
  padding: {
    top: 11px;
    right: 26px;
    bottom: 10px;
    left: 26px;
  }

  .notifier__notification {

    &-message {
      display: inline-block;
      margin: { // Reset paragraph default styles
        top: 0;
        bottom: 0;
      }
      vertical-align: top;
      line-height: 32px;
      font-size: 15px;
    }

    &-button {
      display: inline-block;
      transition: opacity .2s ease;
      opacity: .5;
      margin: {
        right: -10px;
        left: 10px;
      };
      outline: none;
      border: none;
      background: none;
      cursor: pointer; // Make it obvious that the "button" (or, more honestly, icon) is clickable (#UX)
      padding: 6px;
      width: 32px;
      height: 32px;
      vertical-align: top;

      &:hover,
      &:focus {
        opacity: 1; // Make me "feel" the clickability with a transparency change (#UX)
      }

      &:active {
        transform: scale(.82); // Make me "feel" the click by a push back (#UX)
        opacity: 1;
      }

    }

  }

}

// NOTIFIER: ERROR TYPE STYLES

$notifier-error-background: linear-gradient(to bottom, $red-light 5%, $red 100%) !default;
$notifier-error-font-color: #FFF !default;
$notifier-error-icon-color: #FFF !default;

.notifier__notification--error {
  background: $notifier-error-background;
  color: $notifier-error-font-color;

  .notifier__notification-button-icon { // 16x16 fixed size
    fill: $notifier-error-icon-color;
  }

}

// NOTIFIER: info TYPE STYLES

$notifier-info-background: linear-gradient(to bottom, $blue-light 5%, $blue 100%) !default;
$notifier-info-font-color: #FFF !default;
$notifier-info-icon-color: #FFF !default;

.notifier__notification--info {
  background: $notifier-info-background;
  color: $notifier-info-font-color;

  .notifier__notification-button-icon { // 16x16 fixed size
    fill: $notifier-info-icon-color;
  }

}

// NOTIFIER: SUCCESS TYPE STYLES

$notifier-success-background: linear-gradient(to bottom, $green 5%, $green-dark 100%) !default;
$notifier-success-font-color: #FFF !default;
$notifier-success-icon-color: #FFF !default;

.notifier__notification--success {
  background: $notifier-success-background;
  color: $notifier-success-font-color;

  .notifier__notification-button-icon { // 16x16 fixed size
    fill: $notifier-success-icon-color;
  }

}

.loader {
  color: #ffffff;
  font-size: 35px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 30px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

.loader-text {
  line-height: 50px;
  font-size: 20px;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.popup .show {
  visibility: visible;
}

.orientation-warning {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orientation-warning i {
  font-size: 75px;
  margin-bottom: 30px;
}

/*
  TABLES
 */
.table-wrapper {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .table-wrapper-row {
    display: flex;
  }
}

.table {
  width: 100%;
  margin: 5px;

  .table-header {
    background: $red-light linear-gradient(to bottom, $red-light 5%, $red-dark 100%);
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .table-body {
    border-radius: 0 0 6px 6px;
    overflow-y: scroll;
    height: 130px;

    .table-item {
      cursor: default;
      padding: 7px 15px 7px 15px;
      width: auto;
      height: auto;
      background-color: rgba(52, 73, 94, 0.5);
      border-radius: 6px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba(52, 73, 94, 0.8);
      }

      span {
        width: 100%;
      }

      i {
        width: 16px;
        height: 16px;
        text-align: center;
      }

      input {
        margin-top: 5px;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        box-sizing: border-box;
      }

      .table-button-row {
        display: flex;
        float: right;
        width: auto;
        justify-content: space-evenly;

        .table-button {
          cursor: pointer;
          border: none;
          outline-style: none;
          padding: 0;
          margin-left: 10px;
          background: transparent;
          font-size: 20px;
        }
      }
    }
  }

  .table-body.table-empty {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 73, 94, 0.5);
    border-radius: 6px;
  }
}
