/* You can add global styles to this file, and also import other style files */
/*#region overall */
* {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  color: #fff;
  font: 1em/1.3em Montserrat, Helvetica, sans-serif;
  -ms-overflow-style: none;
  overflow-y: scroll;
  /* Add the ability to scroll */
}

app-root {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

div[ng-sidebar-content] {
  -ms-overflow-style: none;
  overflow-y: scroll;
  /* Add the ability to scroll */
}

::-webkit-scrollbar {
  display: none;
}

/*#endregion*/
#background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  display: none;
}

.row {
  width: auto;
}

.flex-item {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/*#region title*/
/*endregion*/
/*#region buttons*/
.buttons div {
  font-size: 2vw;
  color: whitesmoke;
  font-weight: bold;
  display: inline-block;
}

.buttons div i {
  width: 20%;
  text-align: center;
}

.buttons div:hover {
  color: #cd141e;
  cursor: pointer;
}

.active {
  background-color: whitesmoke;
  color: #cd141e !important;
}

/*#endregion*/
/*#endregion*/
/*#region content*/
.content {
  background-image: url("assets/images/blue-background-023.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/*#endregion*/
/*#region topmenu*/
.topmenu {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topmenu span {
  font-weight: bold;
  margin-left: 20px;
}

.topmenu span:hover {
  cursor: pointer;
}

/*#endregion*/
#logo {
  background-repeat: no-repeat;
  background-size: cover;
}

#logo img {
  width: 350px;
}

.logo {
  position: relative;
  margin-bottom: 50px;
  margin-top: 120px;
}

/*#region forms*/
.form-container {
  padding-left: 15%;
  padding-right: 15%;
}

.formContainer h3 {
  font-size: 2vw;
  color: #cd141e;
}

.formButton {
  width: 100%;
  background: linear-gradient(to bottom, #ea514b 5%, #bd261e 100%);
  background-color: #ea514b;
  color: whitesmoke;
  padding: 10px;
  border: 1px solid #cd141e;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 0 #4c0f10;
  box-shadow: 0 3px 0 0 #4c0f10;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
}

.formButton:hover {
  cursor: pointer;
  color: #2e3131;
}

.formButton.disabled {
  color: #2e3131;
  cursor: not-allowed;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  box-sizing: border-box;
  margin: 2%;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.error {
  color: red;
}

/*#endregion*/
.btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 53px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
  margin: 10px;
}

.btn:not([empty]):hover {
  cursor: pointer;
  color: #2e3131;
}

.btn span.icon, .btn span.title {
  display: block;
  position: relative;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.btn span.left {
  float: left;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

.btn span.right {
  float: right;
  border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
}

.btn span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #bd3e2f 5%, #96271b 100%);
  background-color: #bd3e2f;
  -webkit-box-shadow: 0 3px 0 0 #4c0f10;
  box-shadow: 0 3px 0 0 #4c0f10;
  text-shadow: 0px 1px 1px #888;
}

@media only screen and (max-width: 768px) {
  .btn span.right.icon {
    float: left;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
  }

  .btn span.left.title {
    float: right;
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
  }
}
.btn.orange > span.title {
  background: linear-gradient(to bottom, #ffa659 5%, #e67e22 100%);
  background-color: #ffa659;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.orange > span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #e67e22 5%, #c96814 100%);
  background-color: #e67e22;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.green > span.title {
  background: linear-gradient(to bottom, #1fdb6d 5%, #0fa84f 100%);
  background-color: #1fdb6d;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.green > span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #0fa84f 5%, #087534 100%);
  background-color: #0fa84f;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.blue > span.title {
  background: linear-gradient(to bottom, #4fb9ff 5%, #3498db 100%);
  background-color: #4fb9ff;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.blue > span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #3498db 5%, #217ab5 100%);
  background-color: #3498db;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.purple > span.title {
  background: linear-gradient(to bottom, #c26ee6 5%, #9c59b6 100%);
  background-color: #c26ee6;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.purple > span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #9c59b6 5%, #8e44ad 100%);
  background-color: #9c59b6;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.yellow > span.title {
  background: linear-gradient(to bottom, #fada64 5%, #ebc83d 100%);
  background-color: #fada64;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn.yellow > span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #ebc83d 5%, #deb624 100%);
  background-color: #ebc83d;
  -webkit-box-shadow: 0 3px 0 0 #472b16;
  box-shadow: 0 3px 0 0 #472b16;
  text-shadow: 0px 1px 1px #888;
}

.btn[empty] {
  color: #2e3131;
  cursor: default;
}

.btn[empty] > span.icon {
  font-size: 23px;
  background: linear-gradient(to bottom, #5c5c5c 5%, #4a494a 100%);
  background-color: #5c5c5c;
  -webkit-box-shadow: 0 3px 0 0 #2e3131;
  box-shadow: 0 3px 0 0 #2e3131;
  text-shadow: 0px 1px 1px #888;
}

.btn[empty] > span.title {
  background: linear-gradient(to bottom, #6b676b 5%, #5c5c5c 100%);
  background-color: #6b676b;
  -webkit-box-shadow: 0 3px 0 0 #2e3131;
  box-shadow: 0 3px 0 0 #2e3131;
  text-shadow: 0px 1px 1px #888;
}

.btn span.title {
  display: flex;
  justify-content: center;
  width: 180px;
  -webkit-box-shadow: 0 3px 0 0 #4c0f10;
  box-shadow: 0 3px 0 0 #4c0f10;
  background: linear-gradient(to bottom, #ea514b 5%, #bd261e 100%);
  background-color: #ea514b;
}

.btn span.arrow-left, .btn span.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: all 0.15s;
  -transition: all 0.15s;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.btn.left span.arrow-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
  box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
  border-right: 10px solid #00cdae;
}

.btn.right span.arrow-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
  box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
  border-right: 10px solid #00967f;
}

.btn.left span.arrow-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #4c0f10;
  box-shadow: -10px 20px 0 0 #96271b;
  border-left: 10px solid #96271b;
}

.btn.right span.arrow-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
  box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
  border-left: 10px solid #00cdae;
}

.btn span.slant-left, .btn span.slant-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 50px solid transparent;
  -webkit-transition: all 0.15s;
  -transition: all 0.15s;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.btn.left span.slant-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
  box-shadow: -10px 0 0 0 #00967f, -10px 3px 0 0 #007261;
  border-left: 10px solid #00967f;
}

.btn.right span.slant-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
  box-shadow: -10px 0 0 0 #00cdae, -10px 3px 0 0 #00ae94;
  border-left: 10px solid #00cdae;
}

.btn.left span.slant-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
  box-shadow: 10px 0 0 0 #00cdae, 10px 3px 0 0 #00ae94;
  border-right: 10px solid #00cdae;
}

.btn.right span.slant-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
  box-shadow: 10px 0 0 0 #00967f, 10px 3px 0 0 #007261;
  border-right: 10px solid #00967f;
}

.btn:active, .btn.active {
  height: 51px;
}

.btn:hover span.arrow-left {
  right: 10px;
}

.btn:hover span.arrow-right {
  left: 10px;
}

.btn:hover span.slant-left {
  right: 10px;
}

.btn:hover span.slant-right {
  left: 10px;
}

.btn-small {
  height: 30px;
  font-size: 12px;
  line-height: 10px;
}

a.btn-small span.btn {
  height: 30px;
}

.popup {
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 400%;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: -150%;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.notifier__container * {
  box-sizing: border-box;
}
.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.notifier__notification {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--material {
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}
.notifier__notification--material .notifier__notification-message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  line-height: 32px;
  font-size: 15px;
}
.notifier__notification--material .notifier__notification-button {
  display: inline-block;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  margin-right: -10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}
.notifier__notification--material .notifier__notification-button:hover, .notifier__notification--material .notifier__notification-button:focus {
  opacity: 1;
}
.notifier__notification--material .notifier__notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

.notifier__notification--error {
  background: linear-gradient(to bottom, #ea514b 5%, #bd261e 100%);
  color: #FFF;
}
.notifier__notification--error .notifier__notification-button-icon {
  fill: #FFF;
}

.notifier__notification--success {
  background: linear-gradient(to bottom, #5cb85c 5%, #3f853f 100%);
  color: #FFF;
}
.notifier__notification--success .notifier__notification-button-icon {
  fill: #FFF;
}

.loader {
  color: #ffffff;
  font-size: 35px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 30px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

.loader-text {
  line-height: 50px;
  font-size: 20px;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.popup .show {
  visibility: visible;
}

/*# sourceMappingURL=styles.css.map */
