$white-light: #fafafa;
$white: #ecf0f1;
$white-dark: #bdc3c7;
$white-shadow: #2e3131;
$red-light: #ea514b;
$red: #bd261e;
$red-dark: #96271b;
$red-shadow: #631107;
$green-light: #1fdb6d;
$green: #0fa84f;
$green-dark: #087534;
$green-shadow: #033819;
$orange-light: #ffa659;
$orange: #e67e22;
$orange-dark: #c96814;
$orange-shadow: #663307;
$blue-light: #4fb9ff;
$blue: #3498db;
$blue-dark: #217ab5;
$blue-shadow: #074066;
$purple-light: #c26ee6;
$purple: #9c59b6;
$purple-dark: #8e44ad;
$purple-shadow: #4a0766;
$yellow-light: #fada64;
$yellow: #ebc83d;
$yellow-dark: #deb624;
$yellow-shadow: #472b16;
$text-shadow: #888
