.friends {
  background-color: #2c3e50;
  height: 100%;
  width: 230px;
  overflow: hidden;
  -webkit-box-shadow: inset -2px 2px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -2px 2px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset -2px 2px 16px -2px rgba(0, 0, 0, 0.75);
}

.friends-list {
  list-style: none;
  padding: 10px;
}

.friends-list li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  margin-bottom: 15px;
}

.friends-list li i {
  font-size: 32px;
  margin-right: 10px;
}

.friends-list li .info {
  flex: 1;
}

.friends-list li .info .user {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friends-list li .info .status {
  font-size: 10px;
  font-style: italic;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*# sourceMappingURL=friends.component.css.map */
