// IMPORTS
@import '../../variables';

/*
 SPECIFIC LAYOUT FOR FRIENDS COMPONENT
*/

/********************
      REQUESTS
 ********************/
#requests {
  width: 40%;
}

/********************
       FRIENDS
 ********************/
#friends {
  width: 60%;
}
