<app-chat></app-chat>

<div class="flex-container">
  <div class="row">

    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <!-- LOADING SPINNER -->
    <div *ngIf="loading" class="flex-item">
      <div class="loader"></div>
      <span class="loader-text">{{status}}</span>
    </div>
    <!-- END LOADING SPINNER -->

    <div *ngIf="!loading" class="table-wrapper">
      <div class="table-wrapper-row">

        <!-- TABLE FRIENDS -->
        <div id="friends" class="table">
          <div class="table-header"><span>FRIENDS TO CONQUER</span></div>
          <div *ngIf="friends !== undefined && friends.length > 0" class="table-body">
            <div *ngFor="let friend of friends" class="table-item">
              <span>{{friend.friendName}}</span>
              <div class="table-button-row">
                <button (click)="removeFriendship(friend)" class="table-button"><i class="fa fa-trash icon-white"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="friends === undefined || friends.length == 0" class="table-body table-empty">
            <span>Sorry bro, you don't have any friends ...</span>
          </div>
        </div>
        <!-- END TABLE FRIENDS -->

        <!-- TABLE REQUESTS -->
        <div id="requests" class="table">
          <div class="table-header">
            <span>FRIEND INVITES</span>
          </div>
          <!-- INVITE A FRIEND -->
          <div class="table-body" style="height:auto;">
            <div class="table-item">
              <input placeholder="Invite a player" id="newFriendName" name="newFriendName"
                     [(ngModel)]="newFriendName" type="text" required/>
              <div class="table-button-row">
                <button class="table-button" (click)="addFriend()"><i class="fa fa-plus icon-white"></i></button>
              </div>
            </div>
          </div>
          <!-- END INVITE A FRIEND -->
          <!-- INVITES -->
          <div *ngIf="friendRequests !== undefined && friendRequests.length > 0" class="table-body">
            <div *ngFor="let request of friendRequests" class="table-item">
              <span>{{request.friendName}}</span>
              <div class="table-button-row">
                <button *ngIf="request.requestType === 'RECEIVED'" class="table-button"
                        (click)="confirmFriendship(request)"><i class="fa fa-check icon-green"></i></button>
                <button class="table-button" (click)="removeFriendship(request)"><i class="fa fa-times icon-red"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="friendRequests === undefined || friendRequests.length == 0" class="table-body table-empty">
            <span>No requests for the moment</span>
          </div>
          <!-- END INVITES -->
        </div>
        <!-- END TABLE REQUESTS -->

      </div>
    </div>
  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>
