#game {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 75% auto;
  grid-template-rows: auto ;
  grid-template-areas:
    "map menu"
}
app-map {
  overflow: hidden;
  position: fixed;
}
#menu {
  background-color: rgb(205,20,30);
  color: whitesmoke;
  grid-area: menu;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr 3fr ;
  grid-template-areas:
    "turn"
    "phase"
    "phaseInfo";
  max-height: 100%;
  /*position: absolute;
  top: 0;
  right: 0;*/
}
#turn {
  margin: 10%;
  grid-area: turn;
  font-size: 2vw;
  text-align: center;
}
#phase {
  grid-area: phase;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
#phases {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  margin-bottom: 5%;

}
#phaseInfo {
  grid-area: phaseInfo;
}
.phase{
  //background-color: rgb(234, 46, 56);
  font-size: 1.5vw;
  //border-right: solid 0.01vw darkred;
  border-top: solid 0.2vw whitesmoke;
  text-align: center;
  color: whitesmoke;
  box-sizing: border-box;
  padding: 2%;
  margin: 2%;
  width: 100%;
  font-weight: bold;
  opacity: 0.2;

}
.phaseButton {
  display: none;
  box-sizing: border-box;
  background-color: rgb(205,20,30);
  border: 1px solid whitesmoke;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 1vw;
  margin:2%;
  text-align: center;
  padding: 2%;
}
.phaseButton:hover {
  background-color: whitesmoke;
  color: rgb(205,20,30);
  border: 1px solid rgb(205,20,30);
  cursor: pointer;
}
.infoField {
  display: none;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 5%;
}

.selected {
  opacity: 1;
}
.show {
  display: flex;
}











/**
  PLAYER INDICATORS
 */
.players {
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.player {
  cursor: default;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: auto;
}

.profile-picture {
  background-image: url("../../../assets/images/character.png");
  background-size: cover;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  -webkit-box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
}

.profile-picture.red {
  border-color: #bd3e2f;
}
.profile-picture.orange {
  border-color: #e67e22;
}
.profile-picture.yellow {
  border-color: #ebc83d;
}
.profile-picture.blue {
  border-color: #3498db;
}
.profile-picture.purple {
  border-color: #9c59b6;
}
.profile-picture.green {
  border-color: #0fa84f;
}

.profile-name {
  opacity: 0;
}

.profile-picture.current {
  width: 35px;
  height: 35px;
}
.profile-picture.current + .profile-name {
  opacity: 100%;
  -moz-transition: all 0.10s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
  white-space: nowrap;
}

.tooltip h3 {
  margin: 0;
}

.tooltip .right {
  width: auto;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#fafafa;
  background-color:#2d3436;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
  visibility:visible; opacity:1;
}

.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#2d3436;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.slider-wrapper {
  position: absolute;
  top: 0;
  right: 40px;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-wrapper ng5-slider {
  height: 200px;
}


// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .slider-wrapper .ng5-slider[render="false"] {
    display: none;
  }

  .slider-wrapper .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    width: 4px;
  }
  .slider-wrapper .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .slider-wrapper .ng5-slider .ng5-slider-pointer {
    width: 30px;
    height: 30px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    margin-left: 1px;
    background-color: #333;
    border-radius: 30px;
    -webkit-box-shadow: 0 2px 8px -1px rgba(0,0,0,0.40);
    -moz-box-shadow: 0 2px 8px -1px rgba(0,0,0,0.40);
    box-shadow: 0 2px 8px -1px rgba(0,0,0,0.40);
  }

  .slider-wrapper.red .ng5-slider .ng5-slider-pointer, .action button.red, .indicator.red, .main-controls .action.red,.troop-selector button.red {
    background: #bd3e2f linear-gradient(to bottom, #bd3e2f 5%, #96271b 100%);
  }
  .slider-wrapper.orange .ng5-slider .ng5-slider-pointer, .action button.orange, .indicator.orange, .main-controls .action.orange,.troop-selector button.orange {
    background: #e67e22 linear-gradient(to bottom, #e67e22 5%, #c96814 100%);
  }
  .slider-wrapper.yellow .ng5-slider .ng5-slider-pointer, .action button.yellow, .indicator.yellow, .main-controls .action.yellow,.troop-selector button.yellow {
    background: #ebc83d linear-gradient(to bottom, #ebc83d 5%, #deb624 100%);
  }
  .slider-wrapper.blue .ng5-slider .ng5-slider-pointer, .action button.blue, .indicator.blue, .main-controls .action.blue,.troop-selector button.blue {
    background: #3498db linear-gradient(to bottom, #3498db 5%, #217ab5 100%);
  }
  .slider-wrapper.purple .ng5-slider .ng5-slider-pointer, .action button.purple, .indicator.purple, .main-controls .action.purple,.troop-selector button.purple {
    background: #9c59b6 linear-gradient(to bottom, #9c59b6 5%, #8e44ad 100%);
  }
  .slider-wrapper.green .ng5-slider .ng5-slider-pointer, .action button.green, .indicator.green, .main-controls .action.green,.troop-selector button.green {
    background: #0fa84f linear-gradient(to bottom, #0fa84f 5%, #087534 100%);
  }

  .slider-wrapper .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .slider-wrapper .ng5-slider.vertical .ng5-slider-bubble {
    left: -40px !important;
    color: #fafafa;
    font-size: 20px;
  }

  .slider-wrapper .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .slider-wrapper .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .slider-wrapper .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .slider-wrapper  .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
  }
}



.action button {
  outline-style: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
  border-radius: 20px;
  padding: 5px 15px 5px 5px;
  border: none;
  line-height: 23px;
}

.action button i {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 23px;
  height: 23px;
  -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.3);
}

@media only screen and (min-width: 850px) {
  .players {
    width: 100px;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
    border-width: 4px;
  }
  .profile-picture.current {
    width: 60px;
    height: 60px;
  }
  .action button {
    font-size: 20px;
    line-height: 30px;
  }
  .action button i {
    width: 30px;
    height: 30px;
  }
}

.main-controls {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main-controls .control-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-controls .profile-picture {
  //position: relative;
  //top: 50px;
  //right: 15px;
  width: 50px;
  height: 50px;
  border-width: 4px;
  margin: 0;
  z-index: 1;
}

.main-controls .central {

  width: 200px;
  background: #34495e linear-gradient(to bottom, #34495e 5%, #2c3e50 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: -45px;
  margin-right: -45px;
}

.main-controls .central .top {
  font-size: 8px;
}

.main-controls .central .turn-indicators {
  display: flex;
  flex-direction: row;
}

.main-controls .central .turn-indicators .indicator:first-child {
  margin-right: 5px;
}
.main-controls .central .turn-indicators .indicator:last-child {
  margin-left: 5px;
}

.main-controls .central .turn-indicators .indicator {
  border-radius: 5px;
  height: 2px;
  width: 30px;
  opacity: 0.5;
}
.main-controls .central .turn-indicators .indicator.current {
  opacity: 1;
  -webkit-box-shadow: 0 2px 8px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0 2px 8px -1px rgba(0,0,0,0.40);
  box-shadow: 0 2px 8px -1px rgba(0,0,0,0.40);
}

.main-controls .phase-title {
  margin-top: 3px;
  font-size: 12px;
}

.main-controls .action {
  //position: relative;
  //left: 155px;
  //bottom: 50px;
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  z-index: 1;
}

.main-controls .action span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8);
  box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.8);
  color: #ecf0f1;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

.main-controls .action .skip {
  cursor: pointer;
  font-size: 30px;
  text-align: center;
}

.main-controls .action .skip i {
  padding-left: 5px;
}

.troop-selector-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.troop-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.troop-selector input[disabled] {
  background: #34495e linear-gradient(to bottom, #34495e 5%, #2c3e50 100%);
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  border-radius: 50px;
  border: 0;
  color: #ecf0f1;  //border: 1px #34495e solid;
  margin: 0 -20px;
}

.troop-selector button {
  outline: none;
  cursor: pointer;
  z-index: 2;
  border: none;
  height: 40px;
  width: 40px;
  margin :0;
  color: #ecf0f1;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  box-shadow: 0 4px 12px -1px rgba(0,0,0,0.40);
  text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}

.troop-selector span {
  z-index: 2;
  cursor: pointer;
}

button:focus {outline:none;}
button:active {outline: none;}

.player-row {
  display: flex;
  align-items: center;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  margin-right: 10px;
}
.arrow.red { border-left: 7px solid #bd3e2f; }
.arrow.orange { border-left: 7px solid #e67e22; }
.arrow.yellow { border-left: 7px solid #ebc83d; }
.arrow.blue { border-left: 7px solid #3498db; }
.arrow.purple { border-left: 7px solid #9c59b6; }
.arrow.green { border-left: 7px solid #0fa84f; }



@media only screen and (min-height: 600px) {
  .slider-wrapper ng5-slider {
    height: 400px;
  }
  .main-controls .profile-picture {
    width: 75px;
    height: 75px;
    //position: relative;

  }
  .main-controls .action {
    width: 75px;
    height: 75px;
    //left: 205px;
    //bottom: 70px;
  }
  .main-controls .control-wrapper {
    display: flex;
    flex-direction: row;
  }
  .main-controls .central {
    width: 250px;
    height: 60px;
  }
  .main-controls .phase-title {
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 18px;
  }
  .main-controls .central .turn-indicators .indicator {
    width: 40px;
    height: 3px;
  }
  .main-controls .central .top {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .main-controls .action span {
    font-size: 40px;
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.8);
    box-shadow: inset 0px 0px 24px 0px rgba(0,0,0,0.8);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  }
  .main-controls .action .skip {
    font-size: 40px;
  }
  .troop-selector input[disabled] {
    height: 45px;
    width: 200px;
    font-size: 25px;
    margin: 0 -70px;
  }
  .troop-selector button {
    width: 70px;
    height: 60px;
    font-size: 25px;
  }
  .troop-selector button:first-child {
    margin-right: 20px;
  }
  .troop-selector button:last-child {
    margin-left: 20px;
  }
  .troop-selector span {
    font-size: 20px;
  }
}
