<app-chat></app-chat>

<app-map
  [continents]="continents"
  [phase]="phase"
  [currentPlayer]="currentPlayer"
  [players]="players"
  [extras]="extras"
  [mapName]="mapName"
  (stateAnimationsAreFinished)="setStateAnimationsFinished($event)"
></app-map>

<div class="topmenu left">
  <div (click)="statsPersonal()"><i class="fa fa-arrow-left"></i></div>
</div>

<div *ngIf="currentPlayer != null" class="main-controls">
  <div class="control-wrapper">
    <div class="profile-picture" [ngClass]="currentPlayer.color.toLowerCase()"></div>
    <div class="central">
      <span *ngIf="currentPlayer.username == authService.currentUser" class="top">Your turn</span>
      <span *ngIf="currentPlayer.username != authService.currentUser" class="top">Opponent's turn</span>
      <div class="turn-indicators">
        <div [class]="currentPlayer.color.toLowerCase()" class="indicator" [ngClass]="allocationIndicator"></div>
        <div [class]="currentPlayer.color.toLowerCase()" class="indicator" [ngClass]="attackIndicator"></div>
        <div [class]="currentPlayer.color.toLowerCase()" class="indicator" [ngClass]="fortificationIndicator"></div>
      </div>
      <span class="phase-title" [@phaseAnimation] (@phaseAnimation.start)="setPhaseAnimationFinishedState($event,false)" (@phaseAnimation.done)="setPhaseAnimationFinishedState($event,true)" *ngIf="phase == 'ALLOCATION'">ALLOCATE</span>
      <span class="phase-title" [@phaseAnimation] (@phaseAnimation.start)="setPhaseAnimationFinishedState($event,false)" (@phaseAnimation.done)="setPhaseAnimationFinishedState($event,true)" *ngIf="phase == 'ATTACK'">ATTACK</span>
      <span class="phase-title" [@phaseAnimation] (@phaseAnimation.start)="setPhaseAnimationFinishedState($event,false)" (@phaseAnimation.done)="setPhaseAnimationFinishedState($event,true)" *ngIf="phase == 'FORTIFICATION'">FORTIFY</span>
    </div>
    <div class="action" (click)="togglePause()" [ngClass]="currentPlayer.color.toLowerCase()">
      <span *ngIf="pause === true"><i class="fa fa-play"></i></span>
      <span *ngIf="pause === false"><i class="fa fa-pause"></i></span>
    </div>
  </div>
</div>

<!--<div class="troop-selector-wrapper">
  <form class="troop-selector" >
    <button type="button" class="fa fa-times red"></button>
    <span class="fa fa-chevron-left"></span>
    <input type="text" name="addTroops" disabled/>
    <span  class="fa fa-chevron-right"></span>
    <button type="submit" class="fa fa-check green"></button>
  </form>
</div>-->

<!-- PROFILE AVATARS WITH USERNAME -->
<div *ngIf="currentPlayer != null" class="players">
  <div *ngFor="let player of players" class="player">
    <div class="player-row">
      <div *ngIf="currentPlayer.username == player.username" class="arrow" [ngClass]="currentPlayer.color.toLowerCase()"></div>
      <div *ngIf="currentPlayer.username == player.username" class="profile-picture tooltip current"
           [ngClass]="player.color.toLowerCase()">
        <div class="right">
          <h3>{{player.username}}</h3>
          <i></i>
        </div>
      </div>
    </div>
    <div *ngIf="currentPlayer.username != player.username" class="profile-picture tooltip"
         [ngClass]="player.color.toLowerCase()">
      <div class="right">
        <h3>{{player.username}}</h3>
        <i></i>
      </div>
    </div>
  </div>
</div>
