<app-chat></app-chat>

<div class="flex-container">
  <div class="row">
    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <!-- LOADING SPINNER -->
    <div *ngIf="loading">
      <div class="loader"></div>
      <span class="loader-text">{{status}}</span>
    </div>
    <!-- END LOADING SPINNER -->

    <div *ngIf="!loading">
      <div class="flex-item">

        <!-- PROFILE -->
        <div class="profile">
          <img src="../../../assets/images/character.png" alt="profile"/>
          <h1>{{data.username}}</h1>
        </div>
        <!-- END PROFILE -->

        <!-- SEARCH -->
        <div class="search">
          <input [(ngModel)]="searchname" placeholder="Search player"/>
          <div (click)="getPersonalStats(searchname)" class="btn red">
            <span class="icon fa fa-search"></span>
          </div>
        </div>
        <!-- END SEARCH -->
      </div>
      <div class="flex-item">
        <div class="flex-col">

          <!-- CONQUESTS CARD -->
          <div class="stats-card">
            <div class="card-body">
              <div class="card-icon">
                <img src="../../../assets/images/medieval.png" alt="attacking"/>
              </div>
              <div class="card-stats">
                <div class="card-col single">

                  <div class="card-value">
                    <span>{{data.conquestsTotal}}</span>
                    <span>TOTAL CONQUESTS</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.conquestsRatio}}%</span>
                    <span>WIN/LOSS RATIO</span>
                  </div>

                </div>
                <div class="card-col">

                  <div class="card-value">
                    <span>{{data.conquestsWon}}</span>
                    <span>WON</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.conquestsLost}}</span>
                    <span>LOST</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- END CONQUESTS CARD -->

          <!-- HISTORY TABLE -->
          <div class="table" style="margin-right: 15px; width: auto;">
            <div class="table-header">
              <span>HISTORY</span>
            </div>
            <div class="table-body" *ngIf="data !== undefined && data.history.length > 0">
              <div (click)="startReplay(game.sessionId)" *ngFor="let game of data.history" class="table-item clickable">
                <span>{{game.map}}</span>
                <span *ngIf="game.won" class="icon-green">WON</span>
                <span *ngIf="!game.won" class="icon-red">LOST</span>
                <div class="table-button-row">
                  <span> <i class="fa fa-angle-right icon-white"></i></span>
                </div>
              </div>
            </div>
            <div class="table-body table-empty" *ngIf="data === undefined || data.history.length == 0">
              <span>You have no finished games yet</span>
            </div>
          </div>
          <!-- END HISTORY TABLE -->

        </div>

        <div class="flex-col">

          <!-- ATTACKING CARD -->
          <div class="stats-card">
            <div class="card-body">
              <div class="card-icon">
                <img src="../../../assets/images/cannon.png" alt="attacking"/>
              </div>
              <div class="card-stats">
                <div class="card-col single">

                  <div class="card-value">
                    <span>{{data.attacksTotal}}</span>
                    <span>TOTAL ATTACKS</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.attacksRatio}}%</span>
                    <span>WIN/LOSS RATIO</span>
                  </div>

                </div>
                <div class="card-col">

                  <div class="card-value">
                    <span>{{data.attacksSuccessful}}</span>
                    <span>SUCCESSFUL</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.attacksFailed}}</span>
                    <span>FAILED</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- END ATTACKING CARD -->

          <!-- DEFENDING CARD -->
          <div class="stats-card">
            <div class="card-body">
              <div class="card-icon">
                <img src="../../../assets/images/tower.png" alt="defending"/>
              </div>
              <div class="card-stats">
                <div class="card-col single">

                  <div class="card-value">
                    <span>{{data.defendsTotal}}</span>
                    <span>TOTAL DEFENDS</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.defendsRatio}}%</span>
                    <span>WIN/LOSS RATIO</span>
                  </div>

                </div>
                <div class="card-col">

                  <div class="card-value">
                    <span>{{data.defendsSuccessful}}</span>
                    <span>SUCCESSFUL</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.defendsFailed}}</span>
                    <span>FAILED</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- END DEFENDING CARD -->

          <!-- INFANTRY CARD -->
          <div class="stats-card">
            <div class="card-body">
              <div class="card-icon">
                <img src="../../../assets/images/soldier.png" alt="defending"/>
              </div>
              <div class="card-stats">
                <div class="card-col single">

                  <div class="card-value">
                    <span>{{data.troopsDeployed}}</span>
                    <span>TOTAL DEPLOYED</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.troopsRatio ? data.troopsRatio.toFixed(2) : 0.00}}</span>
                    <span>KILL/DEATH RATIO</span>
                  </div>

                </div>
                <div class="card-col">

                  <div class="card-value">
                    <span>{{data.troopsDefeated}}</span>
                    <span>DEFEATED</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.troopsLost}}</span>
                    <span>LOST</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- END INFANTRY CARD -->

        </div>
      </div>
    </div>

  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>
