// IMPORTS
@import "../../../variables";

/*
  SPECIFIC LAYOUT FOR PERSONAL_STATS COMPONENT
 */

/********************
       PROFILE
 ********************/
.profile {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 15px;

  img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin-right: 20px;
  }
}

/********************
       SEARCH
 ********************/
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding-right: 30px;

  input {
    max-width: 300px;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
  }
}

/********************
     STATISTICS
 ********************/
.stats-card {
  background-color: rgba(52, 73, 94, 0.6);
  border-radius: 8px;
  margin-bottom: 15px;
  margin-right: 15px;

  .card-header {
    font-style: italic;
    text-align: right;
    padding: 10px 15px 20px 0;
    color: rgba(192, 57, 43, 1);
  }

  .card-body {
    padding: 18px 10px 10px 10px;
    display: flex;
    justify-content: space-between;

    .card-icon {
      margin-left: 20px;
      min-width: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      img {
        width: 75px;
        height: 75px;
      }

      .stats-value {
        font-size: 35px;
      }

      .stats-subtitle {
        margin-top: 5px;
        font-size: 13px;
      }
    }

    .card-stats {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .card-col {
        .card-value {
          display: flex;
          flex-direction: column;
          text-align: left;

          span:first-of-type {
            font-size: 30px;
          }

          span:last-of-type {
            color: rgba(189, 195, 199, 1.0);
            font-size: 14px;
          }
        }

        .card-value:first-of-type {
          margin-bottom: 20px;
        }
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: -10px;

      span:first-of-type {
        font-size: 11px;
        color: rgba(189, 195, 199, 1.0);
        margin-bottom: -2px;
      }

      span:last-of-type {
        font-size: 17px;
      }
    }

    .right {
      padding-right: 20px;
    }
  }
}

.table-item {
  span:first-of-type {
    text-align: left;
  }
}

.flex-item {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  width: 100%;

  .title {
    display: none;
    text-align: left;
    margin: 0;
    padding: 0 0 10px 15px;
  }
}

/********************
     RESPONSIVE
 ********************/
@media only screen and (max-width: 850px) {
  .flex-item {
    flex-direction: column;
  }
}
