.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  background-image: url("../../assets/images/character.png");
  background-size: cover;
  border: #F0F2F3 solid 5px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.4);
}

.float {
  display: flex;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  background: linear-gradient(to bottom, #bd3e2f 5%, #96271b 100%);
  color: whitesmoke;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #4c0f10;
  align-items: center;
  justify-content: center;
}

.float:hover {
  cursor: pointer;
  color: #2e3131;
}

/*# sourceMappingURL=home.component.css.map */
