// IMPORTS
@import '../../variables';

/*
  SPECIFIC LAYOUT FOR HOME COMPONENT
 */

/********************
       PROFILE
 ********************/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.20);

  .profile-picture {
    border: $white solid 2px;
    border-radius: 100px;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);

    img {
      width: 100px;
      height: 100px;
    }
  }

  span {
    font-size: 25px;
  }
}

/********************
        MENU
 ********************/
.button-menu {
  display: flex;

  .button-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right.title {
    justify-content: flex-start;
  }

  .left.title {
    justify-content: flex-end;
  }

  .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -50px 0 -50px;
    z-index: 10;

    .btn {
      height: 175px;
      width: 175px;
    }

    span {
      width: 175px;
      border-radius: 175px;
      padding: 0 0 0 2px;
      line-height: 175px;
      font-size: 80px;
      text-shadow: 0px 3px 3px $text-shadow;
      -webkit-box-shadow: 0 5px 0 0 #033819;
      box-shadow: 0 5px 0 0 #033819;

      &:before {
        padding-left: 10px;
      }
    }
  }
}

/********************
     RESPONSIVE
 ********************/
@media only screen and (max-width: 850px) {
  .profile-picture {
    width: 50px;
    height: 50px;
    border: $white solid 3px;

    img {
      width: 50px !important;
      height: 50px !important;
    }

    span {
      font-size: 15px !important;
    }
  }
  .play-button {
    .btn {
      height: 100px !important;
      width: 100px !important;
    }

    span {
      width: 100px !important;
      line-height: 100px !important;
      font-size: 50px !important;
    }
  }
}
