<app-chat *ngIf="authService.isLoggedIn()"></app-chat>

<div class="flex-container">
  <div class="row">

    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <!-- LOADING SPINNER -->
    <div *ngIf="loading" class="flex-item">
      <div class="loader"></div>
      <span class="loader-text">{{status}}</span>
    </div>
    <!-- END LOADING SPINNER -->

    <div *ngIf="!loading">

      <!-- PROFILE INFO -->
      <div *ngIf="authService.isLoggedIn()==true" class="flex-item profile">
        <div class="profile-picture">
          <img src="../../assets/images/character.png" alt="profile-picture"/>
        </div>
        <span>{{authService.currentUser}}</span>
      </div>
      <!-- END PROFILE INFO -->

      <!-- MENU -->
      <div *ngIf="authService.isLoggedIn()==true" class="button-menu">
        <div class="button-row">

          <!-- BUTTON CONQUESTS -> GAME-OVERVIEW -->
          <div (click)="gameOverview()" class="btn red">
            <span class="left icon fa fa-list-ul"></span>
            <span class="right title">Your Conquests</span>
          </div>
          <!-- END BUTTON CONQUESTS -> GAME-OVERVIEW -->

          <!-- BUTTON COMPANIONS -> FRIENDS -->
          <div (click)="friends()" class="btn orange">
            <span class="left icon fa fa-users"></span>
            <span class="right title">Your Companions</span>
          </div>
          <!-- END BUTTON COMPANIONS -> FRIENDS -->

        </div>
        <div class="play-button">

          <!-- BUTTON PLAY -> LOBBY -->
          <div (click)="startGame()" class="btn green">
            <span class="title fa fa-play"></span>
          </div>
          <!-- END BUTTON PLAY -> LOBBY -->

        </div>
        <div class="button-row">

          <!-- BUTTON PERSONAL STATS -> PERSONAL -->
          <div (click)="statsPersonal()" class="btn blue">
            <span class="right icon fa fa-bar-chart"></span>
            <span class="left title">Personal Statistics</span>
          </div>
          <!-- END BUTTON PERSONAL STATS -> PERSONAL -->

          <!-- BUTTON GLOBAL STATS -> GLOBAL -->
          <div (click)="statsGlobal()" class="btn purple">
            <span class="right icon fa fa-globe"></span>
            <span class="left title">Global Statistics</span>
          </div>
          <!-- END BUTTON GLOBAL STATS -> GLOBAL -->

        </div>
      </div>

      <!-- AUTHENTICATION -->
      <div *ngIf="authService.isLoggedIn()==false" class="flex-item">

        <!-- LOGIN -->
        <div (click)="logIn()" class="btn">
          <span class="title">Sign In</span>
        </div>
        <!-- END LOGIN -->

      </div>
      <div *ngIf="authService.isLoggedIn()==false" class="flex-item">

        <!-- REGISTER -->
        <div (click)="register()" class="btn">
          <span class="title">Sign Up</span>
        </div>
        <!-- END REGISTER -->

      </div>
      <!-- END AUTHENTICATION -->

    </div>
  </div>
</div>
