<div *ngIf="landscape">
  <router-outlet></router-outlet>
  <app-fab></app-fab>
  <notifier-container></notifier-container>
</div>
<div *ngIf="!landscape" class="orientation-warning">
  <i class="material-icons">screen_rotation</i>
  <span>Turn your phone to landscape mode</span>
</div>
