.replay-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replay-header {
  background: linear-gradient(to bottom, #ea514b 5%, #bd261e 100%);
  padding: 10px 0;
  margin-bottom: 10px;
  width: 500px;
  font-size: 20px;
  border-radius: 5px;
}

.replay-log {
  width: 500px;
  max-height: 400px;
  overflow-y: scroll;
  font-size: 15px;
  text-align: left;
}

.log-item {
  padding: 10px;
  background-color: rgba(44, 62, 80, 0.5);
  border-radius: 5px;
  margin-bottom: 5px;
}

.replay-log p, ul {
  margin: 0;
}
