<app-chat></app-chat>

<div class="flex-container" style="align-items: center; justify-content: center">
  <div class="row" style="width: 100%;">
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../assets/images/risk-logo.png">
    </div>
    <div class="flex-item">
      <div class="replay-wrapper">
        <div (click)="startReplay()" class="btn left red">
          <span class="left icon fa fa-undo"></span>
          <span class="right title">Replay game</span>
        </div>
        <div class="replay-header">
          <span>Replay log</span>
        </div>
        <div class="replay-log">
          <div *ngFor="let action of gameLog.log" class="log-wrapper">
            <div *ngIf="action.allocation != null" class="log-item">
              <p>{{action.allocation.player}} allocated {{action.allocation.troops}} troops
                to {{action.allocation.territory}}</p>
            </div>
            <div *ngIf="action.attack != null" class="log-item">
              <p>{{action.attack.attacker}} attacked {{action.attack.defender}}</p>
              <ul>
                <li>Territories: {{action.attack.attackingTerritory}} | {{action.attack.defendingTerritory}}</li>
                <li>Troops at start: {{action.attack.attackingTroopsAtStart}}
                  | {{action.attack.defendingTroopsAtStart}}</li>
                <li>Troops at end: {{action.attack.attackingTroopsAtEnd}} | {{action.attack.defendingTroopsAtEnd}}</li>
              </ul>
            </div>
            <div *ngIf="action.fortification != null" class="log-item">
              <p>{{action.fortification.player}} sent {{action.fortification.troops}} troops
                from {{action.fortification.fortifyingTerritory}} to {{action.fortification.fortifiedTerritory}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="topmenu left">
  <div (click)="personal()"><span class="icon fa fa-arrow-left"></span></div>
</div>


