<app-chat></app-chat>

<div class="flex-container">
  <div class="row">

    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <!-- LOADING SPINNER -->
    <div *ngIf="loading">
      <div class="loader"></div>
      <span class="loader-text">{{status}}</span>
    </div>
    <!-- END LOADING SPINNER -->

    <div *ngIf="!loading" class="global-wrapper">
      <div class="flex-item">
        <div class="header">
          <h1>Global Statistics</h1>
        </div>
      </div>
      <div class="flex-item">
        <div class="flex-col">

          <!-- GLOBAL -->
          <div class="stats-card">
            <div class="card-body">
              <div class="card-icon">
                <img src="../../../assets/images/medieval.png" alt="global"/>
              </div>
              <div class="card-stats">
                <div class="card-col single">

                  <div class="card-value">
                    <span>{{data.conquestsFinished}}</span>
                    <span>CONQUESTS COMPLETED</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.conquestsLobby}}</span>
                    <span>CONQUESTS IN PREPARATION</span>
                  </div>

                </div>
                <div class="card-col">

                  <div class="card-value">
                    <span>{{data.conquestsPlaying}}</span>
                    <span>CONQUESTS ACTIVE</span>
                  </div>

                  <div class="card-value">
                    <span>{{data.usersInConquestPlaying}}</span>
                    <span>CURRENTLY CONQUERING</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- END GLOBAL -->
        </div>
      </div>

      <div class="flex-item">
        <div class="header">
          <h1>High Scores</h1>
        </div>
      </div>

      <div class="flex-item">

        <!-- HIGHSCORES -->
        <div *ngIf="data.highscores !== undefined && data.highscores.length > 0" class="flex-col" style="max-height: 300px; overflow-y: scroll;">
          <div *ngFor="let highscore of data.highscores; let i = index" class="stats-card last-games">
            <div class="card-body">

              <div class="left">
                <span>RANK</span>
                <span>#{{i + 1}}</span>
              </div>

              <div class="left" style="width:150px;">
                <span>PLAYER</span>
                <span>{{highscore.username}}</span>
              </div>

              <div class="left">
                <span>CONQUESTS COMPLETED</span>
                <span>{{highscore.conquestsPlayed}}</span>
              </div>

              <div class="left">
                <span>CONQUESTS SUCCESSFUL</span>
                <span>{{highscore.conquestsWon}}</span>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="data.highscores === undefined || data.highscores.length <= 0" class="flex-col">
          <div class="stats-card last-games">
            <div class="card-body">
              <div class="left">
                <span>No highscores</span>
              </div>
            </div>
          </div>
        </div>
        <!-- END HIGHSCORES -->

      </div>
    </div>

  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>

