// IMPORTS
@import '../../variables';

/*
 SPECIFIC LAYOUT FOR MAP COMPONENT
*/

/********************
        MAP
 ********************/
#map {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
