.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
}

.tooltip .bottom {
  min-width: 200px;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  color: #fafafa;
  background-color: #2d3436;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility: visible;
  opacity: 1;
}

.left.tooltip .bottom .tooltip-arrow {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom .tooltip-arrow::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #2d3436;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.color-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-selectors .kick {
  margin-left: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
  justify-content: center;
  line-height: 17px;
  font-size: 15px;
}

.color-selectors .kick:hover {
  color: #bd261e;
}

.color-selector {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.color-selector:hover {
  border: #fafafa 1px solid;
}

.color-selector[red] {
  background-color: #bd261e;
}

.color-selector[orange] {
  background-color: #e67e22;
}

.color-selector[yellow] {
  background-color: #ebc83d;
}

.color-selector[blue] {
  background-color: #3498db;
}

.color-selector[purple] {
  background-color: #9c59b6;
}

.color-selector[green] {
  background-color: #0fa84f;
}

#lobby {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "menu image";
}

#menu {
  grid-area: menu;
  background-color: #cd141e;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title" "buttons";
}

#title {
  grid-area: title;
  font-size: 3.5vw;
  color: whitesmoke;
  border-top: solid 0.3vw whitesmoke;
  border-bottom: solid 0.3vw whitesmoke;
  margin-top: 20%;
  padding: 1.5vw;
  padding-left: 4vw;
}

#buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#buttons div {
  padding: 1.5vw;
  padding-left: 4vw;
  font-size: 2vw;
  color: whitesmoke;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#buttons div:hover {
  background-color: whitesmoke;
  color: #cd141e;
  cursor: pointer;
}

.active {
  background-color: whitesmoke;
  color: #cd141e !important;
}

#games {
  grid-area: image;
  background-color: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

#back i {
  font-size: 2vw;
  padding: 10px;
  color: whitesmoke;
}

#back i:hover {
  background-color: whitesmoke;
  color: #cd141e;
}

#invite {
  display: none;
  width: 100%;
}

#players {
  display: none;
}

.show {
  display: inline-block !important;
}

/*# sourceMappingURL=lobby.component.css.map */

/*# sourceMappingURL=lobby.component.css.map */
