// IMPORTS
@import "../../../variables";

/*
  SPECIFIC LAYOUT FOR LOBBY COMPONENT
 */

.lobby-buttons {
  margin-bottom: 10px;
}

.tab {
  display: none;

  &.show {
    display: inline-block !important;
  }
}

/********************
       PLAYERS
 ********************/
#players {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .tooltip {
      display: inline-block;
      position: relative;
      border-bottom: 1px dotted #666;
      text-align: left;

      .bottom {
        min-width: 200px;
        top: 45px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px 20px;
        color: $white;
        background-color: #2d3436;
        font-weight: normal;
        font-size: 13px;
        border-radius: 8px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s;

        .tooltip-arrow {
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -12px;
          width: 24px;
          height: 12px;
          overflow: hidden;

          &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            left: 50%;
            transform: translate(-50%, 50%) rotate(45deg);
            background-color: #2d3436;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
          }
        }
      }

      &:hover .bottom {
        visibility: visible;
        opacity: 1;
      }
    }

    .color-selectors {
      display: flex;
      justify-content: center;
      align-items: center;

      .color-selector {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-left: 5px;
        margin-right: 5px;
        width: 15px;
        height: 15px;

        &:hover {
          border: $white 1px solid;
        }

        &[red] {
          background-color: $red;
        }

        &[orange] {
          background-color: $orange;
        }

        &[yellow] {
          background-color: $yellow;
        }

        &[blue] {
          background-color: $blue;
        }

        &[purple] {
          background-color: $purple;
        }

        &[green] {
          background-color: $green;
        }
      }

      .kick {
        margin-left: 15px;
        width: 15px;
        height: 15px;
        text-align: center;
        justify-content: center;
        line-height: 17px;
        font-size: 15px;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

/********************
       INVITE
 ********************/
#invite {
  .player-selection {
    margin-top: 20px;
    flex-direction: column;
  }

  .ai-selection {
    display: flex;
    cursor: default;
    margin-top: 20px;

    .ai {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        margin-right: 30px;
      }

      &:last-child {
        margin-left: 30px;
      }

      .profile-picture {
        background-image: url("../../../assets/images/character.png");
        background-size: cover;
        margin-right: 5px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border-width: 6px;
        border-style: solid;
        border-color: #34495e;
        -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        margin-bottom: -30px;
      }

      .hero {
        display: flex;
        align-items: center;
      }

      .difficulty {
        border-radius: 5px;
        width: 95px;
        text-align: left;
        padding-left: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #34495e linear-gradient(to bottom, #34495e 5%, #2c3e50 100%);
        -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        font-size: 16px;
        margin-right: -20px;
      }

      .ai-add {
        cursor: pointer;
        position: relative;
        border: none;
        border-radius: 100px;
        background: $green linear-gradient(to bottom, $green 5%, $green 100%);
        color: $white;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
        box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
      }
    }
  }
}

/********************
     PREFERENCES
 ********************/
#preferences {
  .map-selection {
    display: flex;
    align-items: center;

    span {
      font-size: 40px;
      cursor: pointer;
    }

    img {
      margin: 0 40px;
    }
  }
}

/********************
     RESPONSIVE
 ********************/
@media only screen and (max-width: 768px) {
  .btn span.right.icon {
    float: left;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
  }
  .btn span.left.title {
    float: right;
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
  }
}
