<app-chat [sessionId]="sessionId"></app-chat>

<div class="flex-container">
  <div class="row">

    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <!-- LOADING SPINNER -->
    <div *ngIf="loading" class="flex-item">
      <div class="loader"></div>
      <span class="loader-text">{{status}}</span>
    </div>
    <!-- END LOADING SPINNER -->

    <div *ngIf="!loading">

      <!-- LOBBY BUTTONS -->
      <div class="flex-item lobby-buttons">
        <div (click)="start()" *ngIf="showPlayers" class="btn blue"><span class="icon fa fa-play"></span></div>
        <div (click)="show(1)" *ngIf="!showPlayers" class="btn blue"><span class="icon fa fa-list-ol"></span></div>
        <div (click)="show(2)" class="btn green"><span class="icon fa fa-plus-circle"></span></div>
        <div (click)="show(3)" class="btn orange"><span class="icon fa fa-sliders"></span></div>
        <div (click)="discard()" *ngIf="isHost" class="btn"><span class="icon fa fa-trash"></span></div>
        <div (click)="leave()" *ngIf="!isHost" class="btn"><span class="icon fa fa-sign-out"></span></div>
      </div>
      <!-- END LOBBY BUTTONS -->

      <!-- TAB 1: PLAYERS -->
      <div [class.show]="showPlayers" id="players" class="flex-item tab">
        <ul>
          <li *ngFor="let row of lobby.rows; let i = index" class="flex-item">
            <div *ngIf="row[0] != null" class="btn btn-warning left tooltip" [ngClass]="row[0].color">
              <span class="left icon">{{(2 * i) + 1}}</span>
              <span class="right title">{{row[0].username}}</span>
              <div class="bottom">
                <div class="color-selectors">
                  <div class="color-selector" blue (click)="setColor(row[0].username, 'blue')"></div>
                  <div class="color-selector" purple (click)="setColor(row[0].username, 'purple')"></div>
                  <div class="color-selector" red (click)="setColor(row[0].username, 'red')"></div>
                  <div class="color-selector" orange (click)="setColor(row[0].username, 'orange')"></div>
                  <div class="color-selector" yellow (click)="setColor(row[0].username, 'yellow')"></div>
                  <div class="color-selector" green (click)="setColor(row[0].username, 'green')"></div>
                  <div class="kick" (click)="kick(row[0].username)"><i class="fa fa-sign-out"></i></div>
                </div>
                <div></div>
                <i class="tooltip-arrow"></i>
              </div>
            </div>
            <div *ngIf="row[0] == null" class="btn btn-warning left" empty>
              <span class="left icon">{{(2 * i) + 1}}</span>
              <span class="right title">Empty</span>
            </div>
            <div *ngIf="row[1] != null" class="btn btn-warning left tooltip" [ngClass]="row[1].color">
              <span class="left title">{{row[1].username}}</span>
              <span class="right icon">{{(2 * i) + 2}}</span>
              <div class="bottom">
                <div class="color-selectors">
                  <div class="color-selector" blue (click)="setColor(row[1].username, 'blue')"></div>
                  <div class="color-selector" purple (click)="setColor(row[1].username, 'purple')"></div>
                  <div class="color-selector" red (click)="setColor(row[1].username, 'red')"></div>
                  <div class="color-selector" orange (click)="setColor(row[1].username, 'orange')"></div>
                  <div class="color-selector" yellow (click)="setColor(row[1].username, 'yellow')"></div>
                  <div class="color-selector" green (click)="setColor(row[1].username, 'green')"></div>
                  <div class="kick" (click)="kick(row[1].username)"><i class="fa fa-sign-out"></i></div>
                </div>
                <div></div>
                <i class="tooltip-arrow"></i>
              </div>
            </div>
            <div *ngIf="row[1] == null" class="btn btn-warning left" empty>
              <span class="left title">Empty</span>
              <span class="right icon">{{(2 * i) + 2}}</span>
            </div>
          </li>
        </ul>
      </div>
      <!-- END TAB 1: PLAYERS -->

      <!-- TAB 2: INVITE -->
      <div class="flex-item tab" id="invite" [class.show]="showInvite">

        <!-- PLAYER-SELECTION -->
        <div class="player-selection">
          <div class="table">
            <div class="table-header"><span>INVITE A FRIEND</span></div>
            <div class="table-body" *ngIf="friends !== undefined && friends.length > 0"
                 style="height:auto; max-height:100px">
              <div class="table-item clickable" *ngFor="let friend of friends" (click)="sendInvite(friend.friendName)">
                <span>{{friend.friendName}}</span>
                <div class="table-button-row">
                  <button class="table-button"><i class="fa fa-paper-plane icon-white"></i></button>
                </div>
              </div>
            </div>
            <div class="table-body table-empty" *ngIf="friends === undefined || friends.length == 0">
              <span>Sorry bro, you have no friends</span>
            </div>
          </div>
        </div>
        <!-- END PLAYER-SELECTION -->

        <!-- AI-SELECTION-->
        <div class="ai-selection">
          <div class="ai">
            <div class="profile-picture"></div>
            <div class="hero">
              <div class="difficulty"><span>Recruit</span></div>
              <button (click)="addAIPlayer('EASY')" class="ai-add fa fa-plus"></button>
            </div>
          </div>
          <div class="ai">
            <div class="profile-picture"></div>
            <div class="hero">
              <div class="difficulty"><span>Tactician</span></div>
              <button (click)="addAIPlayer('MEDIUM')" class="ai-add fa fa-plus"></button>
            </div>
          </div>
          <div class="ai">
            <div class="profile-picture"></div>
            <div class="hero">
              <div class="difficulty"><span>Warlord</span></div>
              <button (click)="addAIPlayer('HARD')" class="ai-add fa fa-plus"></button>
            </div>
          </div>
        </div>
        <!-- END AI-SELECTION -->

      </div>
      <!-- END TAB 2: INVITE -->

      <!-- TAB 3: PREFERENCES -->
      <div class="flex-item tab" id="preferences" [class.show]="showPreferences">
        <h2>{{map}}</h2>
        <div class="map-selection">
          <span class="fa fa-chevron-left" (click)="prevMap()"></span>
          <img *ngIf="map==='Global Conquest'" src="../../../assets/images/regular.PNG" height="200" width="300"/>
          <img *ngIf="map==='belgium'" src="../../../assets/images/belgium.png" height="200" width="300"/>
          <span class="fa fa-chevron-right" (click)="nextMap()"></span>
        </div>
      </div>
      <!-- END TAB 3: PREFERENCES -->

    </div>
  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>
