<div class="flex-container">
  <div class="row">
    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <div class="flex-item">
      <!-- LOGIN -->
      <form #loginForm="ngForm">
        <input [(ngModel)]="UserData.username" name="username" type="text" placeholder="Username" required>
        <input [(ngModel)]="UserData.password" name="password" type="password" placeholder="Password" required>
        <div class="btn" (click)="loginUser()">
          <span class="title left">Sign in with Risk</span>
          <span class="icon right fa fa-sign-in"></span>
        </div>
      </form>
      <!-- END LOGIN-->
    </div>

    <small>or</small>

    <!-- EXTERNAL LOGIN -->
    <div class="external-login">
      <!-- FACEBOOK -->
      <div class="btn blue" (click)="signInWithFacebook()">
        <span class="icon left fa fa-facebook"></span>
        <span class="title right">Sign in with Facebook</span>
      </div>
      <!-- END FACEBOOK -->
      <!-- GOOGLE -->
      <div class="btn" (click)="signInWithGoogle()">
        <span class="icon left fa fa-google-plus"></span>
        <span class="title right">Sign in with Google</span>
      </div>
      <!-- END GOOGLE -->
    </div>
    <!-- END EXTERNAL LOGIN -->
  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>
