// IMPORTS
@import "../../../variables";

/*
  SPECIFIC LAYOUT FOR REGISTER COMPONENT
 */

/********************
    EXTERNAL-LOGIN
 ********************/
.external-login {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .btn {
    margin-bottom: 0;
  }
}
