<div class="flex-container">
  <div class="row">

    <!-- LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <div class="flex-item">
      <!-- REGISTER -->
      <form #registerForm="ngForm">
        <input [(ngModel)]="UserData.username" id="username" name="username" type="text" placeholder="Username"
               required>
        <input [(ngModel)]="UserData.password" id="password" name="password" type="password" placeholder="Password"
               required>
        <input [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" type="password"
               placeholder="Confirm password" required>
        <div class="btn" (click)="registerUser()">
          <span class="left title">Sign up with Risk</span>
          <span class="right icon fa fa-sign-in"></span>
        </div>
      </form>
      <!-- REGISTER -->
    </div>

    <small>or</small>

    <!-- EXTERNAL LOGIN -->
    <div class="external-login">
      <!-- FACEBOOK -->
      <div class="btn blue" (click)="signInWithFacebook()">
        <span class="icon left fa fa-facebook"></span>
        <span class="title right">Sign in with Facebook</span>
      </div>
      <!-- GOOGLE -->
      <div class="btn" (click)="signInWithGoogle()">
        <span class="icon left fa fa-google-plus"></span>
        <span class="title right">Sign in with Google</span>
      </div>
      <!-- END GOOGLE -->
    </div>
    <!-- END EXTERNAL LOGIN -->
  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>
