<app-chat [sessionId]="sessionId"></app-chat>

<!-- MAP -->
<app-map
  [phase]="phase"
  [currentPlayer]="currentPlayer"
  [continents]="continents"
  [players]="players"
  [extras]="extras"
  [showContinentMap]="continentMap"
  [mapName]="mapName"
  (selectedTerritory)="onTerritorySelected($event)"
  (selectedNeighborTerritory)="attack($event)"
  (selectedFortifyTerritory)="onFortifySelected($event)"
  (stateAnimationsAreFinished)="setStateAnimationsFinished($event)"
></app-map>
<!-- END MAP -->

<div class="topmenu left">
  <div (click)="gameOverview()"><i class="fa fa-arrow-left"></i></div>
</div>

<!-- MAIN CONTROLS -->
<div *ngIf="currentPlayer != null" class="main-controls">
  <div class="control-wrapper">
    <div class="profile-picture" [ngClass]="currentPlayer.color.toLowerCase()"></div>
    <div class="central">
      <span *ngIf="currentPlayer.username == authService.currentUser" class="top">Your turn</span>
      <span *ngIf="currentPlayer.username != authService.currentUser" class="top">Opponent's turn</span>
      <div class="turn-indicators">
        <div [class]="currentPlayer.color.toLowerCase()" class="indicator" [ngClass]="allocationIndicator"></div>
        <div [class]="currentPlayer.color.toLowerCase()" class="indicator" [ngClass]="attackIndicator"></div>
        <div [class]="currentPlayer.color.toLowerCase()" class="indicator" [ngClass]="fortificationIndicator"></div>
      </div>
      <span class="phase-title" [@phaseAnimation] (@phaseAnimation.start)="setPhaseAnimationFinishedState($event,false)"
            (@phaseAnimation.done)="setPhaseAnimationFinishedState($event,true)"
            *ngIf="phase == 'ALLOCATION'">ALLOCATE</span>
      <span class="phase-title" [@phaseAnimation] (@phaseAnimation.start)="setPhaseAnimationFinishedState($event,false)"
            (@phaseAnimation.done)="setPhaseAnimationFinishedState($event,true)" *ngIf="phase == 'ATTACK'">ATTACK</span>
      <span class="phase-title" [@phaseAnimation] (@phaseAnimation.start)="setPhaseAnimationFinishedState($event,false)"
            (@phaseAnimation.done)="setPhaseAnimationFinishedState($event,true)" *ngIf="phase == 'FORTIFICATION'">FORTIFY</span>
    </div>
    <div *ngIf="currentPlayer.username == authService.currentUser && finished === false" class="action"
         [ngClass]="currentPlayer.color.toLowerCase()">
      <span
        *ngIf="(phase == 'ALLOCATION' && placeableTroops > 0) && phaseAnimationFinished && stateAnimationsFinished">{{placeableTroops}}</span>
      <span (click)="nextPhase()"
            *ngIf="(phase != 'ALLOCATION' || placeableTroops == 0) && phaseAnimationFinished && stateAnimationsFinished"
            class="skip"><i
        class="fa fa-chevron-right "></i></span>
      <span *ngIf="!phaseAnimationFinished || !stateAnimationsFinished"><i class="loader"></i></span>
    </div>
    <div *ngIf="currentPlayer.username != authService.currentUser || finished === true" class="action"
         [ngClass]="currentPlayer.color.toLowerCase()">
      <span>?</span>
    </div>
  </div>
</div>
<!-- END MAIN CONTROLS -->

<!-- TROOP-SELECTOR: ALLOCATION -->
<div *ngIf="phase == 'ALLOCATION' && selectedTerritory!= null && selectedTerritory.name != null"
     class="troop-selector-wrapper">
  <form class="troop-selector" (ngSubmit)="allocate()">
    <button type="button" (click)="deselectTerritories()" class="fa fa-times red"></button>
    <span (click)="addTroopsMin()" class="fa fa-chevron-left"></span>
    <input type="text" name="addTroops" [(ngModel)]="addTroops" disabled/>
    <span (click)="addTroopsAdd()" class="fa fa-chevron-right"></span>
    <button type="submit" class="fa fa-check green"></button>
  </form>
</div>
<!-- END TROOP-SELECTOR: ALLOCATION -->

<!-- TROOP SELECTOR: FORTIFICATION -->
<div
  *ngIf="phase == 'FORTIFICATION'&& selectedTerritory != null && selectedFortifyTerritory != null && selectedTerritory.name != null && selectedFortifyTerritory.name != null"
  class="troop-selector-wrapper">
  <form class="troop-selector" (ngSubmit)="fortify()">
    <button type="button" (click)="deselectTerritories()" class="fa fa-times red"></button>
    <span (click)="moveTroopsMin()" class="fa fa-chevron-left"></span>
    <input type="text" name="moveTroops" [(ngModel)]="moveTroops" disabled/>
    <span (click)="moveTroopsAdd()" class="fa fa-chevron-right"></span>
    <button type="submit" class="fa fa-check green"></button>
  </form>
</div>
<!-- END TROOP SELECTOR: FORTIFICATION -->

<!-- PLAYER LIST -->
<div *ngIf="currentPlayer != null" class="players">
  <div *ngFor="let player of players" class="player">
    <div class="player-row">
      <div *ngIf="currentPlayer.username == player.username" class="arrow"
           [ngClass]="currentPlayer.color.toLowerCase()"></div>
      <div *ngIf="currentPlayer.username == player.username" class="profile-picture tooltip current"
           [ngClass]="player.color.toLowerCase()">
        <div class="right">
          <h3>{{player.username}}</h3>
          <i></i>
        </div>
      </div>
    </div>
    <div *ngIf="currentPlayer.username != player.username" class="profile-picture tooltip"
         [ngClass]="player.color.toLowerCase()">
      <div class="right">
        <h3>{{player.username}}</h3>
        <i></i>
      </div>
    </div>
  </div>
</div>
<!-- END PLAYER LIST -->

<!-- CONTINENT TOGGLE -->
<button (click)="toggleContinentMap()" class="continent-toggle" [class.toggled]="continentMap"><i class="fa fa-globe"></i></button>
<!-- END CONTINENT TOGGLE -->

<!-- FINISHED GAME -->
<div [@winnerAnimation] *ngIf="finished" [ngClass]="winner.color.toLowerCase()" class="finished">
  <h1>{{winner.username}}</h1>
  <h3>won the game!</h3>
</div>
<!-- END FINISHED GAME -->
