// IMPORTS
@import "../../../variables";

/*
  SPECIFIC LAYOUT FOR GAME COMPONENT
 */

app-map {
  overflow: hidden;
  position: fixed;
}

/********************
    MAIN-CONTROLS
 ********************/
.main-controls {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .control-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
    border-width: 4px;
    margin: 0;
    z-index: 1;
  }

  .central {
    width: 200px;
    background: #34495e linear-gradient(to bottom, #34495e 5%, #2c3e50 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: -45px;
    margin-right: -45px;

    .top {
      font-size: 8px;
    }

    .turn-indicators {
      display: flex;
      flex-direction: row;

      .indicator {
        border-radius: 5px;
        height: 2px;
        width: 30px;
        opacity: 0.5;

        &:first-child {
          margin-right: 5px;
        }

        &:last-child {
          margin-left: 5px;
        }

        &.current {
          opacity: 1;
          -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.40);
          -moz-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.40);
          box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.40);
        }
      }
    }
  }

  .phase-title {
    margin-top: 3px;
    font-size: 12px;
  }

  .action {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 50px;
    -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
    z-index: 1;

    button {
      outline-style: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ecf0f1;
      border-radius: 20px;
      padding: 5px 15px 5px 5px;
      border: none;
      line-height: 23px;

      i {
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 23px;
        height: 23px;
        -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.8);
      box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.8);
      color: #ecf0f1;
      font-weight: bold;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    }

    .skip {
      cursor: pointer;
      font-size: 30px;
      text-align: center;

      i {
        padding-left: 5px;
      }
    }
  }
}

/********************
    TROOP-SELECTOR
 ********************/
.troop-selector-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .troop-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input[disabled] {
      background: #34495e linear-gradient(to bottom, #34495e 5%, #2c3e50 100%);
      width: 130px;
      height: 30px;
      text-align: center;
      font-size: 16px;
      padding: 5px 0;
      border-radius: 50px;
      border: 0;
      color: #ecf0f1;
      margin: 0 -35px;
    }

    button {
      outline: none;
      cursor: pointer;
      z-index: 2;
      border: none;
      height: 40px;
      width: 40px;
      margin: 0;
      color: $white;
      border-radius: 50px;
      -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
      -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
      box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    }

    span {
      z-index: 2;
      cursor: pointer;

      &:first-of-type {
        margin-left: 5px;
      }

      &:last-of-type {
        margin-right: 5px;
      }
    }
  }
}

/********************
     PLAYER LIST
 ********************/
.players {
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;

  .player {
    cursor: default;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: auto;

    .player-row {
      display: flex;
      align-items: center;

      .arrow {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        margin-right: 10px;

        &.red {
          border-left: 7px solid $red;
        }

        .orange {
          border-left: 7px solid $orange;
        }

        &.yellow {
          border-left: 7px solid $yellow;
        }

        &.blue {
          border-left: 7px solid $blue;
        }

        &.purple {
          border-left: 7px solid $purple;
        }

        &.green {
          border-left: 7px solid $green;
        }
      }
    }
  }
}

// PROFILE PICTURE
.profile-picture {
  background-image: url("../../../assets/images/character.png");
  background-size: cover;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  -webkit-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);
  box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.40);

  &.current {
    width: 35px;
    height: 35px;
  }

  &.current + .profile-name {
    opacity: 100%;
    -moz-transition: all 0.10s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }

  &.red {
    border-color: $red;
  }

  &.orange {
    border-color: $orange;
  }

  &.yellow {
    border-color: $yellow;
  }

  &.blue {
    border-color: $blue;
  }

  &.purple {
    border-color: $purple;
  }

  &.green {
    border-color: $green;
  }
}

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
  white-space: nowrap;

  &:hover .right {
    visibility: visible;
    opacity: 1;
  }

  h3 {
    margin: 0;
  }

  .right {
    width: auto;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 10px 20px;
    color: #fafafa;
    background-color: #2d3436;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;

    i {
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -12px;
      width: 12px;
      height: 24px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        top: 50%;
        transform: translate(50%, -50%) rotate(-45deg);
        background-color: #2d3436;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.action button.red, .indicator.red, .main-controls .action.red, .troop-selector button.red {
  background: $red-light linear-gradient(to bottom, $red-light 5%, $red 100%);
}

.action button.orange, .indicator.orange, .main-controls .action.orange, .troop-selector button.orange {
  background: $orange-light linear-gradient(to bottom, $orange-light 5%, $orange 100%);
}

.action button.yellow, .indicator.yellow, .main-controls .action.yellow, .troop-selector button.yellow {
  background: $yellow-light linear-gradient(to bottom, $yellow-light 5%, $yellow 100%);
}

.action button.blue, .indicator.blue, .main-controls .action.blue, .troop-selector button.blue {
  background: $blue-light linear-gradient(to bottom, $blue-light 5%, $blue 100%);
}

.action button.purple, .indicator.purple, .main-controls .action.purple, .troop-selector button.purple {
  background: $purple-light linear-gradient(to bottom, $purple-light 5%, $purple 100%);
}

.action button.green, .indicator.green, .main-controls .action.green, .troop-selector button.green {
  background: $green-light linear-gradient(to bottom, $green-light 5%, $green 100%);
}

/********************
      FINISHED
 ********************/
.finished {
  position: absolute;
  top: 25%;
  bottom: 25%;
  width: 100%;
  height: 50%;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.red {
    background-color: transparentize($red, 0.3);
  }

  &.orange {
    background-color: transparentize($orange, 0.3)
  }

  &.yellow {
    background-color: transparentize($yellow, 0.3)
  }

  &.blue {
    background-color: transparentize($blue, 0.3)
  }

  &.purple {
    background-color: transparentize($purple, 0.3)
  }

  &.green {
    background-color: transparentize($green, 0.3)
  }

  h1 {
    font-size: 10vw;
  }

  h3 {
    font-size: 2vw;
  }
}

/********************
     RESPONSIVE
 ********************/
@media only screen and (min-width: 850px) {
  .players {
    width: 100px;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
    border-width: 4px;

    &.current {
      width: 60px;
      height: 60px;
    }
  }

  .action button {
    font-size: 20px;
    line-height: 30px;
  }
  .action button i {
    width: 30px;
    height: 30px;
  }
}

.continent-toggle {
  cursor: pointer;
  color: #2f3640;
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: $white linear-gradient(to bottom, $white 5%, $white-dark 100%);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
  outline: none;
  border: none;

  &.toggled {
    background: #353b48 linear-gradient(to bottom, #353b48 5%, #2f3640 100%);
    color: $white
  }
}


@media only screen and (min-height: 600px) {
  .main-controls {
    .profile-picture {
      width: 75px;
      height: 75px;
    }

    .action {
      width: 75px;
      height: 75px;

      span {
        font-size: 40px;
        -webkit-box-shadow: inset 0px 0px 24px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: inset 0px 0px 24px 0px rgba(0, 0, 0, 0.8);
        box-shadow: inset 0px 0px 24px 0px rgba(0, 0, 0, 0.8);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
      }

      .skip {
        font-size: 40px;
      }
    }

    .control-wrapper {
      display: flex;
      flex-direction: row;
    }

    .central {
      width: 250px;
      height: 60px;

      .top {
        font-size: 12px;
        margin-bottom: 2px;
      }

      .turn-indicators .indicator {
        width: 40px;
        height: 3px;
      }
    }

    .phase-title {
      margin-top: 7px;
      margin-bottom: 3px;
      font-size: 18px;
    }
  }

  .troop-selector-wrapper {
    .troop-selector {
      input[disabled] {
        height: 45px;
        width: 200px;
        font-size: 25px;
        margin: 0 -70px;
      }

      button {
        width: 60px;
        height: 60px;
        font-size: 25px;

        &:first-child {
          margin-right: 20px;
        }

        &:last-child {
          margin-left: 20px;
        }
      }

      span {
        font-size: 20px;
      }
    }
  }
}
