.table-wrapper {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0 10px;
  width: 600px;
}

tbody {
  height: 200px;
  overflow: scroll;
}

tbody tr {
  cursor: pointer;
  text-align: left;
  background-color: rgba(44, 62, 80, 0.5);
}

tbody tr:hover {
  background-color: rgba(44, 62, 80, 0.8);
}

th {
  text-align: left;
  padding: 10px;
  background: linear-gradient(to bottom, #ea514b 5%, #bd261e 100%);
}

th:first-child, td:first-child {
  padding-left: 15px;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

th:last-child, td:last-child {
  border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
}

td {
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#status {
  padding: 5px;
  width: 100px;
}

.refresh i {
  cursor: pointer;
  font-size: 40px;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  transition: 2s ease-out;
  margin-bottom: 25px;
}

.refresh i:hover {
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

/*# sourceMappingURL=game-overview.component.css.map */
