// IMPORTS
@import '../../variables';

/*
 SPECIFIC LAYOUT FOR GAME-OVERVIEW COMPONENT
*/

/********************
      CONTROLS
 ********************/
.overview-controls {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/********************
      INVITES
 ********************/
#invites {
  width: 30%;
}

/********************
      LOBBIES
 ********************/
#lobbies {
  width: 60%;
}

/********************
     RESPONSIVE
 ********************/
@media only screen and (max-width: 850px) {
  .table-wrapper-row {
    flex-direction: column;

    .overview-controls {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  #invites, #lobbies {
    width: 100%;
  }
  .no-display-small {
    display: none !important;
  }
}

@media only screen and (min-width: 850px) {
  .no-display-large {
    display: none !important;
  }
}
