<app-chat></app-chat>

<div class="flex-container">
  <div class="row">

    <!--  LOGO -->
    <div class="flex-item logo" id="logo">
      <img alt="logo" src="../../assets/images/risk-logo.png">
    </div>
    <!-- END LOGO -->

    <!-- LOADING SPINNER -->
    <div *ngIf="loading" class="flex-item">
      <div class="loader"></div>
      <span class="loader-text">{{status}}</span>
    </div>
    <!-- END LOADING SPINNER -->

    <!-- OVERVIEW -->
    <div class="table-wrapper" *ngIf="!loading">
      <div class="table-wrapper-row">

        <!-- MOBILE CONTROLS -->
        <div class="overview-controls no-display-large">
          <div class="btn green" (click)="startGame()">
            <span class="icon fa fa-plus"></span>
          </div>
          <div class="btn white" (click)="refresh()">
            <span class="icon fa fa-refresh"></span>
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->

        <!-- TABLE: INVITES -->
        <div id="invites" class="table">
          <div class="table-header"><span>INVITES</span></div>
          <div *ngIf="invites !== undefined && invites.length > 0" class="table-body">
            <div *ngFor="let invite of invites" class="table-item">
              <span>{{invite.username}}</span>
              <div class="table-button-row">
                <button class="table-button" (click)="acceptInvite(invite.sessionId)"><i class="fa fa-check icon-green"></i></button>
                <button class="table-button" (click)="declineInvite(invite.sessionId)"><i class="fa fa-times icon-red"></i></button>
              </div>
            </div>
          </div>
          <div *ngIf="invites === undefined || invites.length == 0" class="table-body table-empty">
            <span>You have no invites</span>
          </div>
        </div>
        <!-- END TABLE: INVITES -->

        <!-- TABLE: LOBBIES -->
        <div id="lobbies" class="table">
          <div class="table-header"><span>PREPARING TO CONQUER</span></div>
          <div *ngIf="lobbies !== undefined && lobbies.length > 0" class="table-body">
            <div *ngFor="let lobby of lobbies" class="table-item clickable" (click)="joinLobby(lobby.sessionId)">
              <span>{{lobby.host}}</span>
              <span class="no-display-small">created {{lobby.created | timeago:live}}</span>
              <span>{{lobby.players}} players</span>
              <div class="table-button-row">
                <button class="table-button"><i class="fa fa-angle-right icon-white"></i></button>
              </div>
            </div>
          </div>
          <div *ngIf="lobbies === undefined || lobbies.length == 0" class="table-body table-empty">
            <span>You are not preparing any conquests</span>
          </div>
        </div>
        <!-- END TABLE: LOBBIES -->

        <!-- CONTROLS -->
        <div class="overview-controls no-display-small">
          <div class="btn green" (click)="startGame()">
            <span class="icon fa fa-plus"></span>
          </div>
          <div class="btn white" (click)="refresh()">
            <span class="icon fa fa-refresh"></span>
          </div>
        </div>
        <!-- END CONTROLS -->

      </div>
      <div class="table-wrapper-row">

        <!-- TABLE: ACTIVE -->
        <div class="table">
          <div class="table-header"><span>ACTIVE CONQUESTS</span></div>
          <div *ngIf="conquests !== undefined && conquests.length > 0" class="table-body">
            <div *ngFor="let conquest of conquests" class="table-item clickable" (click)="resumeGame(conquest.sessionId)">
              <span>{{conquest.host}}</span>
              <span>{{conquest.map}}</span>
              <span>{{conquest.players}} players</span>
              <span *ngIf="conquest.yourTurn">Your turn</span>
              <span *ngIf="!conquest.yourTurn">Opponent's turn</span>
              <span class="no-display-small" *ngIf="conquest.currentPhase === 'ALLOCATION'"><i class="fa fa-map"></i> Allocating</span>
              <span class="no-display-small" *ngIf="conquest.currentPhase === 'ATTACK'"><i class="fa fa-flag"></i> Attacking</span>
              <span class="no-display-small" *ngIf="conquest.currentPhase === 'FORTIFICATION'"><i class="fa fa-shield"></i> Fortifying</span>
              <span class="no-display-small">since {{conquest.lastPlayed | timeago:live}}</span>
              <div class="table-button-row">
                <button class="table-button"><i class="fa fa-play-circle icon-green"></i></button>
              </div>
            </div>
          </div>
          <div *ngIf="conquests === undefined || conquests.length == 0" class="table-body table-empty">
            <span>You are not participating in any conquests</span>
          </div>
        </div>
        <!-- END TABLE: ACTIVE -->

      </div>
    </div>
    <!-- END OVERVIEW -->

  </div>
</div>

<div class="topmenu left">
  <div (click)="home()"><span class="icon fa fa-arrow-left"></span></div>
</div>
